@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --window-w: 430px;
  --screen-w: 360px;
}

/* Background */
body {
  margin: 0;
  padding: 0;
  background: url("backgroundop.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Press Start 2P", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Outer device shell */
.game-window {
  background-color: #87CEEB; 
  width: var(--window-w);
  padding: 24px;
  border-radius: 40px;
  border: 4px solid #76c9ea; 
  box-shadow: 0 12px 30px rgba(0,0,0,0.5);
  text-align: center;
  position: relative;
}

/* Header bar on top */
.window-header {
  background-color: #6bc6eb; 
  padding: 12px;
  border-radius: 18px;
  font-size: 14px;
  margin-bottom: 16px;
  color: black;
}

/* Screen area */
#screenImage {
  width: var(--screen-w);
  height: 350px;
  border-radius: 20px;
  border: 4px solid #76c9ea;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

/* Buttons row at bottom */
.buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 22px;
}

/* Circular buttons */
.circle-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background:  #87CEEB;
  border: 3px solid #76c9ea;
  cursor: pointer;
  transition: 0.15s;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 1;
}

.circle-btn:hover {
  background-color: #87CEEB; 
}

.circle-btn:active {
  transform: scale(0.9);
}

#middleBtn {
  font-size: 28px;
}
